@use '../../variables.scss' as *;

.ImageList {
  @include displayFlex(column, none);
  width: 75%;

  .ImageList-header {
    font-size: 120px;
    letter-spacing: 0.5rem;
    font-family: Inspiration;
    text-shadow: $normalShadow;
  }
  
  .ImageList-images {
    @include displayFlex(row, wrap);
  }
}
